{% extends "network/layout.html" %}

{% block body %}
    <div class="row center-content">
        <div class="col-10 margin-top-40">

            {% for post in following_posts %}
                <div class="border margin-padding-20">
                    <div class="row">
                        <div class="col-10">
                            <a href="{% url 'profile' post.user.pk 'None' %}">{{ post.user }}</a>
                        </div>
                        <div class="col-2">
                            <div class="float-right">
                                💓 {{post.likes_count}} 
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10">
                            {{ post.content }}
                        </div>
                        <div class="col-2">
                            <div class="float-right">
                                {{ post.date_time | date:"d.m.y H:i"}}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}