{% extends "network/layout.html" %}

{% block body %}
    <div class="row center-content">
        <div class="col-12 margin-top-40 border">
            <form action="{% url 'save_post' %}" method="post">

                {% csrf_token %}

                <h2>New Post</h2>
                <textarea class="width-100" rows="5" name="content"></textarea>

                
                <button class="btn btn-info post-button" type="submit">Post</button>

            </form>
        </div>
    </div>
{% endblock %}