{% extends "network/layout.html" %}

{% block body %}
    <div class="row center-content margin-bottom-20">
        {% if request.user.is_authenticated %}
            <div class="col-10 margin-top-40 border">
                <form action="{% url 'save_post' %}" method="post">

                    {% csrf_token %}

                    <h2>New Post</h2>
                    <textarea class="width-100" rows="5" name="content"></textarea>

                    
                    <button class="btn btn-info post-button" type="submit">Post</button>

                </form>
            </div>
        {% endif%}

        <div class="col-10 margin-top-40">
            {% for post in page %}
                <div class="border margin-padding-20">
                    <div class="row">
                        <div class="col-10">
                            <a href="{% url 'profile' post.user__pk 'None' %}">{{ post.user__username }}</a>
                        </div>
                        <div class="col-2">
                            <div class="float-right">
                               <div class="row">
                                <div class="col-6 padding-10">
                                    {% if not request.user.is_authenticated %} 
                                        <div> 
                                            <i class="fa-regular fa-heart"></i>
                                        </div>
                                    {% else %}
                                        <div> 
                                            <i class="fa-regular fa-heart fa-heart-hover" id="emptyHeart_{{ post.id }}" onclick="liked('{{ post.id }}', 'liked')"></i>
                                            <i class="fa-solid fa-heart fa-heart-hover" id="fullHeart_{{ post.id }}" onclick="liked('{{ post.id }}', 'unliked')"></i>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="col-6 padding-10 margin-top-minus-7" id="likes_count_{{ post.id }}">
                                    {{post.likes_count}}
                                </div>
                               </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-10" id="postContent_{{ post.id }}">
                            {{ post.content }}
                        </div>
                        <div class="col-10" id="editPost_{{ post.id }}"></div>
                        <div class="col-2">
                            <div class="float-right">
                                {{ post.date_time | date:"d.m.y H:i"}}
                            </div>
                        </div>
                    </div>

                    {% if user.pk == post.user__pk %}
                        <div class="row">
                            <div class="col-6 margin-top-40">
                                <button type="button" class="btn btn-sm btn-primary edit-button" onclick="editPost('{{ post.id }}', '{{  post.content }}')" id="edit_{{ post.id }}">Edit post</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-auto">
                                <div id="savePostButton_{{ post.id }}"></div>
                            </div>
                            <div class="col-auto">
                                <div id="cancelButtonDiv_{{ post.id }}"></div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}

            <div class="pagination center-content">
                {% if page.has_previous %}
                    <a href="?page={{ page.previous_page_number }}">Previous</a>  &nbsp; |
                {% endif %}
                
                <span class="current-page">&nbsp; {{ page.number }} &nbsp; </span>
                
                {% if page.has_next %}
                    | &nbsp;<a href="?page={{ page.next_page_number }}">Next</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}