{% extends "network/layout.html" %}

{% block body %}

    <div class="margin-top-40">
        <div class="row">
            <div class="col-9">
                <h2>{{ user }}</h2>
            </div>
            <div class="col-3">
                {% if not its_user and request.user.is_authenticated %} 
                    {% if not follows %}
                        <form action="{% url 'profile' user.pk 'True' %}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-success" type="submit">Follow</button>
                        </form>
                    {% else %}
                        <form action="{% url 'profile' user.pk 'False' %}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-info" type="submit">Unfollow</button>
                        </form>
                    {% endif %}
                {% endif %}
            </div>
        </div>

        <div class="row margin-top-40">
            <div class="col-9">
                {% for post in user_posts %}
                    <div class="border margin-padding-20">
                        <div class="row">
                            <div class="col-10"></div>
                            <div class="col-2">
                                <div class="float-right">
                                <div class="row">
                                    <div class="col-6 padding-10">
                                        {% if not request.user.is_authenticated  %} 
                                            <div> 
                                                <i class="fa-regular fa-heart"></i>
                                            </div>
                                        {% else %}
                                            <div> 
                                                <i class="fa-regular fa-heart fa-heart-hover" id="emptyHeart_{{ post.id }}" onclick="liked('{{ post.id }}', 'liked')"></i>
                                                <i class="fa-solid fa-heart fa-heart-hover" id="fullHeart_{{ post.id }}" onclick="liked('{{ post.id }}', 'unliked')"></i>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-6 padding-10 margin-top-minus-7" id="likes_count_{{ post.id }}">
                                        {{post.likes_count}}
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-10" id="postContent_{{ post.id }}">
                                {{ post.content }}
                            </div>
                            <div class="col-10" id="editPost_{{ post.id }}"></div>
                            <div class="col-2">
                                <div class="float-right">
                                    {{ post.date_time | date:"d.m.y H:i"}}
                                </div>
                            </div>
                        </div>

                        {% if request.user.pk == post.user__pk %}
                            <div class="row">
                                <div class="col-6 margin-top-40">
                                    <button type="button" class="btn btn-sm btn-primary" onclick="editPost('{{ post.id }}', '{{  post.content }}')" id="edit_{{ post.id }}">Edit post</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-auto">
                                    <div id="savePostButton_{{ post.id }}"></div>
                                </div>
                                <div class="col-auto">
                                    <div id="cancelButtonDiv_{{ post.id }}"></div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}

                <div class="pagination center-content">
                    {% if page.has_previous %}
                        <a href="?page={{ page.previous_page_number }}">Previous</a>  &nbsp; |
                    {% endif %}
                    
                    <span class="current-page">&nbsp; {{ page.number }} &nbsp; </span>
                    
                    {% if page.has_next %}
                        | &nbsp;<a href="?page={{ page.next_page_number }}">Next</a>
                    {% endif %}
                </div>
            </div>
            <div class="col-3">
                <div>
                    <span>Following: {{ following }}</span> &nbsp;
                    <span>Followers: {{ followers }}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

    </div>


{% endblock %}