body {
    margin: auto;  
    padding: 0 40px;
}

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.width-90 {
    width: 90%;
}

.width-100 {
    width: 100%;
}

.margin-top-40 {
    margin-top: 40px;
}

.border {
    border: 1px solid #a09b9b;
}

.post-button {
    float: right; 
    margin-right: 15px; 
    margin-bottom: 5px;
}

.float-right {
    float: right;
}

.margin-padding-20 {
    margin-bottom: 20px; 
    padding: 20px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-top-20 {
    margin-top: 20px;
}

.fa-heart:hover {
    color: #fd1b1b;
    cursor: pointer;
}

.padding-10 {
    padding: 10px;
}